# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Claude Code
.claude/

# Obsidian
.obsidian/
